.forecastItemCont h2{
    color: white;
}

.forecastItemCont {
    margin: 10px;
    width: calc(100% - 20px);
    min-width: 430px;
    padding: 4px;
    border-radius: 2vh;
    box-sizing: border-box;
    box-shadow: 10px 10px 42px -12px rgba(255, 255, 255, 0.37);
    background-color: rgba(50, 216, 180, 0.75);
    font-family: 'Roboto', sans-serif;
}